In [1]:
num1 =23
num2 =3 
print(f'더하기 결과 : {num1+num2}')
print(f'빼기 결과 : {num1-num2}')
print(f'곱하기 결과 : {num1*num2}')
print(f'나누기 결과 : {num1/num2}')

더하기 결과 : 26
빼기 결과 : 20
곱하기 결과 : 69
나누기 결과 : 7.666666666666667

In [5]:
num1 =input("첫 번째 정수 입력 : ")  # input으로 입력받으면 문자열이다.
num2 = input("두 번째 정수 입력 : ")

첫 번째 정수 입력 : 1
두 번째 정수 입력 : 3

In [4]:
print(int(num1)+2)

12

In [16]:
num1 =int(input("python 점수 입력 : "))  # input으로 입력받으면 문자열이다.
num2 = int(input("머신러닝 점수 입력 : "))
num3 = int(input("딥러닝 점수 입력 : "))
print("합계 : {}".format(num1+num2+num3))
print("평균 : {}".format((num1+num2+num3)/3))

python 점수 입력 : 10
머신러닝 점수 입력 : 10
딥러닝 점수 입력 : 10
합계 : 30
평균 : 10.0

In [15]:
a= 10
b= 15
a,b= b,a
print(a,b)

15 10

In [21]:
a = int(input("정수입력 >> "))
b = int(input("정수입력 >> "))
print(f'a:{a}' if a>b else f'b:{b}')

정수입력 >> 10
정수입력 >> 5
a:10

In [22]:
num1 = int(input("정수 입력 >> "))
result = '짝수' if num1%2==0 else '홀수'
print(f'{num1}는(은) {result}입니다.')

정수 입력 >> 2
2는(은) 짝수입니다.